body, h1, h2, h3, p{
    margin: 0;
}

button{
    padding: 0;
}

body{
    background-color: rgb(31, 31, 31);
}

/* Main */
#wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

#calculater{
    width: 412px;
    height: 784px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#textArea{
    background-color: rgba(65, 60, 60, 1);
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
}

#fomulaArea{
    text-align: right;
    padding-right: 18px;
    padding-top: 28px;
    padding-bottom: 50px;
}

#fomula{
    text-align: right;
    border: 0;
    background-color: unset;
    color: white;
    font-size: 30px;
}

#resultArea{
    padding-right: 18px;
    padding-bottom: 13px;
}

#resultText{
    height: 60px;
    font-weight: 400;
    font-size: 50px;
    line-height: 60.51px;
    text-align: right;
    color: white;
}
.btn{
    background-color: rgba(224, 224, 224, 1);
    height: 120px;
    font-weight: bold;
    font-size: 20pt;
    flex: 1;
    border: solid 1px rgba(142, 142, 142, 1);
}

.fnBtn{
    background-color: rgba(232, 150, 80, 1);
    color: white;
}

.btnsLine{
    display: flex;
    justify-content: center;
}